
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Exo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb;
    height: 100vh;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

svg path {
    fill: #f11658;
    transition: transform 200ms ease-in-out, opacity 200ms ease;
}

button {
    transform-style: preserve-3d;
    transform: translateZ(0);
    padding: 12px;
    border-radius: 3px;
    border: none;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    transition: background-color 200ms ease, padding-right 200ms ease-out box-shadow 200ms ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    cursor: pointer;
}

button:hover {
    background-color: #f3f3f3;
    padding-right: 32px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button svg path {
    transform: translateX(-56px);
}

button:hover svg path {
    transform: translateX(0px);
}

button .label {
    transition: transform 200ms ease-out;
}

button:hover .label {
    transform: translateX(20px);
}

button .icon {
    transition: color 200ms ease;
    position: relative;
}

button:hover .icon {
    color: #fff;
}
.icon{
    float:left;
    text-align: center;
    width:24px;
    line-height:24px;
    margin-right:12px;
    color:#9b9b9b;
}
.label{
    float:left;
    line-height: 24px;
    font-weight:700;
    margin-right:12px;
    color:#4a4a4a;
    letter-spacing: 0.8px;
}